h1 {
    color: black;
    text-align: center;
}

body{
    background: cyan;
}

.scam{
    font-size: 90px;
    text-align: center;
}

.futsal{
    background: rgb(23, 158, 158);
}

.list{
    text-align: center;
    align-content: center;
}