#title{
    text-align: center;
    font-family: courier;
    font-size: 45px;
}

#introduction{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left:20px ;
    padding-right: 20px;
    
}

#introductionTwo{
    margin-left: 20%;
    margin-top: 20px;
    margin-right: 20%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-left:20px ;
    padding-right: 20px;
}


#stadiumText{
    text-align: left;
    font-family: courier;
    
}

#links{
    background-image: linear-gradient(to left, #abecf7, #8dd4e0);   
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;   
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

#link{
    display: inline;
    padding-right: 30px ;
}

#linkLast{
    display: inline;
    padding:0px 0px 0px 0px;
}

a{
    text-decoration: none;
    color: black;
}

#cantona{
    font-family: arial;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 20px;
    padding-right: 20px;
}

#bod{
    background: #abecf7;
}

#vidContainer{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#tableContainer{
    margin-left: 20%;
    margin-right: 20%;
}

#historyTable{
    width: 100%;
}

table{
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }